@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900");
:root {
    --clr-light: #DAF7A6;
    --clr-dark: #FFC300;
    --clr-primary: #FF5733;
    --clr-highlight: #C70039 ;
    --foreground:var(--clr-dark);
    --background:var(--clr-light);
    --ff-title: "Playfair Display", serif;
    --ff-body: "Assistant", sans-serif;

}
.darkmode{
    --clr-light: #CCCCFF ;
    --clr-dark: #6495ED ;
    --clr-primary: #40E0D0;
    --clr-highlight: #884EA0 ;
    --foreground:var(--clr-light);
    --background:var(--clr-dark);
}
body{
    color: var(--foreground);
    background-color: var(--background);
    font-family: var(--ff-body);
    text-align: center;
}
.main-title{
    margin-top: 0px;
    font-size: 10vh;
    text-align: center;
    font-family: var(--ff-title);
}
#dark-mode-toggle{
    display: inline;
    text-align: center;
    padding:1.35em 5.2em;
    background-color:var(--clr-primary);
    color: var(--clr-highlight);
    border-radius:12px;
    box-shadow:inset 0 -0.9em 0 -0.4em rgba(0,0,0,0.17);
    position:relative;
    font-weight:400;
    font-size: 1em;
    margin-left: 75%;
    margin-top: 40px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.dark-mode-toggle:active{
    top:0.1em;
}
#welcome{
    margin-top: 0vh;
    font-size: 35px;
    color: var(--clr-highlight);
    font-family: cursive;
}
.drink-name{
    font-size: 5vh;
    color:var(--clr-primary);
    font-weight: 100;
    margin-bottom: 0vh;
}
li{
    font-size: 3vh;
}
#tell-me{
    display: inline;
    text-align: center;
    padding:1.35em 5.2em;
    background-color:var(--clr-primary);
    color: var(--clr-highlight);
    border-radius:12px;
    box-shadow:inset 0 -0.9em 0 -0.4em rgba(0,0,0,0.17);
    position:relative;
    font-weight:400;
    font-size: 1em;
    margin-left: 0%;
    margin-top: 40px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#tell-me-l{
    display: inline;
    text-align: center;
    padding:1.35em 5.2em;
    background-color:var(--clr-primary);
    color: var(--clr-highlight);
    border-radius:12px;
    box-shadow:inset 0 -0.9em 0 -0.4em rgba(0,0,0,0.17);
    position:relative;
    font-weight:400;
    font-size: 1em;
    margin-left: 0%;
    margin-top: 40px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#back{
    display: inline;
    text-align: center;
    padding:1.35em 5.2em;
    background-color:var(--clr-dark);
    color: var(--clr-highlight);
    border-radius:12px;
    box-shadow:inset 0 -0.9em 0 -0.4em rgba(0,0,0,0.17);
    position:relative;
    font-weight:400;
    font-size: 1em;
    margin-left: 0%;
    margin-top: 40px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#alcohol-button{
    display: inline;
    text-align: center;
    padding:1.35em 5.2em;
    background-color:var(--clr-primary);
    color: var(--clr-highlight);
    border-radius:12px;
    box-shadow:inset 0 -0.9em 0 -0.4em rgba(0,0,0,0.17);
    position:relative;
    font-weight:400;
    font-size: 1em;
    margin-left: 0%;
    margin-top: 40px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#different{
    display: inline;
    text-align: center;
    padding:1.35em 5.2em;
    background-color:var(--clr-light);
    color: var(--clr-highlight);
    border-radius:12px;
    box-shadow:inset 0 -0.9em 0 -0.4em rgba(0,0,0,0.17);
    position:relative;
    font-weight:400;
    font-size: 1em;
    margin-left: 0%;
    margin-top: 40px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#game-button{
    text-align: center;
    padding:1.35em 5.2em;
    background-color:var(--clr-light);
    color: var(--clr-highlight);
    border-radius:12px;
    box-shadow:inset 0 -0.9em 0 -0.4em rgba(0,0,0,0.17);
    position:relative;
    font-weight:400;
    font-size: 1em;
    margin-left: 0%;
    margin-top: 40px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#shop-button{
    text-align: center;
    padding:1.35em 5.2em;
    background-color:var(--clr-dark);
    color: var(--clr-highlight);
    border-radius:12px;
    box-shadow:inset 0 -0.9em 0 -0.4em rgba(0,0,0,0.17);
    position:relative;
    font-weight:400;
    font-size: 1em;
    margin-left: 0%;
    margin-top: 40px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#animal-button{
    text-align: center;
    padding:1.35em 5.2em;
    background-color:var(--clr-highlight);
    color: var(--clr-highlight);
    border-radius:12px;
    box-shadow:inset 0 -0.9em 0 -0.4em rgba(0,0,0,0.17);
    position:relative;
    font-weight:400;
    font-size: 1em;
    margin-left: 0%;
    margin-top: 40px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#diff-dog{
    text-align: center;
    padding:1.35em 5.2em;
    background-color:var(--clr-highlight);
    color: var(--clr-light);
    border-radius:12px;
    box-shadow:inset 0 -0.9em 0 -0.4em rgba(0,0,0,0.17);
    position:relative;
    font-weight:400;
    font-size: 1em;
    margin-left: 0%;
    margin-top: 40px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#genre{
    font-size: 10vh;
    color: var(--clr-highlight);;
}
h3{
    background-color:var(--clr-highlight);
    font-size: 5vh;
}
